body {
    background-color: #F2F2F2;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

button {
    cursor: pointer;

}

button:hover {
    filter: brightness(98%);
}

#search-bar {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border: 0;
    padding: .5rem 1rem;
    gap: 1rem;
    border-radius: 2rem;
}

#search-bar input {
    border: 0;
    width: 100%;
}

#sear-bar input::before input::highlight {
    border: 0;
}

#container {
    width: 600px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.preference-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .62rem;
}

#ingredients-container {
    display: flex;
    flex-direction: column;

    >h4 {
        padding: 0;
        margin: 0;
        padding-bottom: .5rem;
    }
}

#temp-container {
    display: flex;
    flex-direction: row;
}

.white-block-component {
    background-color: #FFFFFF;
    padding: .81rem .94rem;
    border-radius: .625rem;
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.dropdown-preference-component {
    display: flex;
    flex-direction: column;
    gap: .62rem;

}

.title-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-selector {
    background-color: #F2F2F2;
    border-radius: .625rem;
    border: 0;
    width: 9rem;
    padding: .2rem .625rem;
    color: gray;
}


.dropdown-selector select {
    display: none;
}

.small-searchfield {
    border: 0;
    background-color: #F2F2F2;
    padding: .2rem 0;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-searchfield input {
    border: 0;
    background-color: #F2F2F2;
    width: 80%;

}

.selected-option-container {
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    flex-wrap: wrap;
    gap: .5rem;
}

.selected-option {
    background-color: #FCE1AF;
    width: fit-content;
    padding: .2rem .5rem .3rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: .5rem;
    color: #333333;
    font-size: 12px;


}

#include-ingredients-container .selected-option {
    background-color: #CDDFA6;
}

#exclude-ingredients-container .selected-option {
    background-color: #FCC2AF;
}

#search-button {
    width: 12.125rem;
    padding: 0.625rem;
    background-color: #FCE1AF;
    border: 0;
    border-radius: .625rem;
    margin: 0 auto;
    font-weight: bold;
}

.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.range-input-container>.price-info>#price-tag {
    display: flex;
    width: 71px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #F2F2F2;
}

.range-input-container input[type="range"] {
    appearance: none;
    display: flex;
    align-items: center;
    background: #ccc;
    width: 100%;
    height: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    outline: none;

}

#range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #112643;

}

#sorting-header {
    display: flex;
}

.section-title {
    white-space: nowrap;
    width: 5rem;
    font-size: small;
}

#sorting-grid,
#summary-grid {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    width: 100%;
    font-size: small;
}

#sorting-grid > *,
#summary-grid > * {
    justify-self: center;
}

.sorting-button {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font: inherit;
}

.sorting-button:hover {
    background-color: #E1E1E1;
}

/* Rather than using focus, we need a class that makes it change color until
another button in the sorting row is pressed, we also need to change the image
depending on clicks, click 1 is arrow down, click 2 is arrow up. */
.sorting-button:focus {
    background-color: #E1E1E1;
}

.matching-recipes {
    display: flex;
}

.recipe {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.recipe-summary {
    display: flex;
    background-color: #FCE1AF;
    border-radius: 1rem 1rem 0 0;
    padding: .5rem;
}
