body {
    background-color: #F2F2F2;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#search-bar {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border: 0;
    padding: .5rem 1rem;
    gap: 1rem;
    border-radius: 2rem;
}

#search-bar input {
    border: 0;
    width: 100%;
}

#search-bar input::active {
    border: 0;
}

#container {
    width: 600px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

#preference-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .62rem;
}

#ingredients-container {
    display: flex;
    flex-direction: column;

    >h4 {
        padding: 0;
        margin: 0;
        padding-bottom: .5rem;
    }
}

#temp-container {
    display: flex;
    flex-direction: row;
}

.white-block-component {
    background-color: #FFFFFF;
    padding: .81rem .94rem;
    border-radius: .625rem;
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.dropdown-preference-component {
    display: flex;
    flex-direction: column;
    gap: .62rem;

}

.title-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-selector {
    background-color: #F2F2F2;
    border-radius: .625rem;
    border: 0;
    width: 9rem;
    padding: .2rem .625rem;
    color: gray;
}


.dropdown-selector select {
    display: none;
}

.small-searchfield {
    border: 0;
    background-color: #F2F2F2;
    padding: .2rem 0;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-searchfield input {
    border: 0;
    background-color: #F2F2F2;
    width: 80%;

}

.selected-option-container {
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    flex-wrap: wrap;
    gap: .5rem;
}

.selected-option {
    background-color: #FCE1AF;
    width: fit-content;
    padding: .2rem .5rem .3rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: .5rem;
    color: #333333;
    font-size: 12px;

}

#include-ingredients-container .selected-option {
    background-color: #CDDFA6;
}

#exclude-ingredients-container .selected-option {
    background-color: #FCC2AF;
}

#search-button {
    width: 12.125rem;
    padding: 0.625rem;
    background-color: #FCE1AF;
    border: 0;
    border-radius: .625rem;
    margin: 0 auto;
    font-weight: bold;
}